<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testing.org.scrolling"/>
      <class name="testing.org.sliderdragdrop"/>
      <class name="testing.org.uploadfil"/>
      <class name="testing.org.downloads"/>
      <class name="testing.org.doubleclick"/>
      <class name="testing.org.alerts"/>
      <class name="testing.org.tables"/>
      <class name="testing.org.main"/>
      <class name="testing.org.mouseover"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
